@model IEnumerable<BitcoinBeach.Models.UnitListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-sucess fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UnitId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bathrooms)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bathrooms)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.UnitId }) |
                @Html.ActionLink("Details", "Details", new { id=item.UnitId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.UnitId })
            </td>
        </tr>
    }

</table>
